@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mau Than Street<br />
    Ninh Kieu District, Can Tho City<br />
    <abbr title="Phone">P:</abbr>
    0911 878 047
</address>

<address>
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/nhatanh.cm18/">Anh Nhat</a><br />
    <strong>Gmail:</strong> <a href="anhpnngcc19180@fpt.edu.vn">anhpnngcc19180@fpt.edu.vn</a>
</address>